@import 'framework/variables';
@import 'peek/views/rblineprof';

#js-peek {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2000;
  overflow-x: hidden;

  height: $performance-bar-height;
  background: $black;
  line-height: $performance-bar-height;
  color: $perf-bar-text;

  select {
    color: $perf-bar-text;
    width: 200px;
  }

  &.disabled {
    display: none;
  }

  &.production {
    background-color: $perf-bar-production;

    select {
      background: $perf-bar-production;
    }
  }

  &.staging {
    background-color: $perf-bar-staging;

    select {
      background: $perf-bar-staging;
    }
  }

  &.development {
    background-color: $perf-bar-development;

    select {
      background: $perf-bar-development;
    }
  }

  // UI Elements
  .bucket {
    background: $perf-bar-bucket-bg;
    display: inline-block;
    padding: 4px 6px;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    line-height: 1;
    color: $perf-bar-bucket-color;
    border-radius: 3px;
    box-shadow: 0 1px 0 $perf-bar-bucket-box-shadow-from,
      inset 0 1px 2px $perf-bar-bucket-box-shadow-to;

    .hidden {
      display: none;
    }

    &:hover .hidden {
      display: inline;
    }
  }

  strong {
    color: $white-light;
  }

  table {
    color: $black;

    strong {
      color: $black;
    }
  }

  .view {
    margin-right: 15px;
    float: left;

    &:last-child {
      margin-right: 0;
    }
  }

  .css-truncate {
    &.css-truncate-target,
    .css-truncate-target {
      display: inline-block;
      max-width: 125px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: top;
    }

    &.expandable:hover .css-truncate-target,
    &.expandable:hover.css-truncate-target {
      max-width: 10000px !important;
    }
  }

  .performance-bar-modal {
    .modal-body {
      padding: 0;
    }

    .modal-footer {
      display: none;
    }
  }
}

#modal-peek-pg-queries-content {
  color: $black;
}

.peek-rblineprof-file {
  pre.duration {
    width: 280px;
  }

  .data {
    overflow: visible;
  }
}
